body {
  background:  	#ADD8E6;
}

#logo, #Inicio, #Gestion_de_colecciones, #Gestion_de_alojados, #lateralizq, #boton,
#listahoteles, #central, #hotel, #mapa,#lateraldcho, #coleccion, #nuevacoleccion,
#pie_de_pagina, #alojados, #addplus{
  border: 2px solid #777;
  background:  	#ADD8E6;
}

#contenedor {
  width: 95%;
  margin: 0 auto;
}

#logo {
  margin: 0.4em;
  margin-top: 1.4em;
  height: 100px;
  background-image: url("./extra/logo.png");
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
}

#lateralizq{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 10px;
  width: 20%;
  min-height: 10em;
  background: white;
  float: left;
  text-align: center;
}

#lateralizq h3, #central .donde{
  text-decoration: underline;
}

#lateralizq boton {
  margin: 5px;
}

#lateralizq #listahoteles {
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 40em;
  background: white;
}

#central, #nuevacoleccion, #alojados{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0.8em;
  width: 50%;
  min-height: 10em;
  float: left;
  text-align: center;
  background: white;
}

#central #mapa{
  margin: 1em;
  height: 30em;
}


#central .hotel, #listids, #lateraldcho h4, #addplus h3{
  margin-top: 2em;
  text-decoration: underline;
}

#central .descripcion{
  margin-top: 1em;
  margin-bottom: 2.5em;
}

#hotelcontainer, #hotelactual, #addplus{
  display: none;
}

#lateraldcho, #addplus{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 27%;
  min-height: 10em;
  float: right;
  text-align: center;
  background: white;
}

#lateraldcho p, #addplus p{
  float: right;
  text-align: center;
  width: 80%;
}


#pie_de_pagina {
  text-align: center;
  background-color: white;
  clear: left;
}
